{% extends base.html %}

{% block title %}
    WizMonitor
{% end %}

{% block extra_head %}
    <script src="/static/js/justgage.1.0.1.min.js"></script>
    <script src="/static/js/raphael.2.1.0.min.js"></script>
    <script src="/static/js/excanvas.js"></script>
    <script src="/static/js/jquery.snippet.min.js"></script>
    <script src="/static/js/jtopo-0.3.6-min.js"></script>
    <script src="/static/index.js"></script>
    <style type="text/css">
	    #contextmenu {
		border: 1px solid #aaa;
		border-bottom: 0;
		background: #eee;
		position: absolute;
		margin: 0;
		padding: 10px;
		display: none;
		font-style: red;
		background:rgba(0,0,0,0.6);
		background: transparent\9;
		zoom:1\8; /* required for the filters */
		-ms-filter:"progid:DXImageTransform.Microsoft.gradient(startColorstr=#99000000, endColorstr=#99000000)"; /* IE8 */
		filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#99000000, endColorstr=#99000000); /* IE5.5-7 */
	    }
	    
	    #menu_content {
		color: #FFFFFF;
		font-size: 10;
		font-family: consolas;
		line-height: 0.5;
	    }
	    
	    #menu_footer a {
		padding: 10px;
		cursor: pointer;
	    }
	    
	    #menu_footer a:hover {
		color: #fff;
	    }
            
            #configModal {
                
            }
            
            .capacity_guage {
                width:150px; height:90px;
                display: inline-block;
                margin: 1em;
            }
    </style>	
        
{% end %}

{% block main_content %}
<div>
    <ul class="breadcrumb">
        <li>
            <a href="/">首页</a>
        </li>
    </ul>
    
    <div id="contextmenu" style="display:none;">
        <div id="menu_content"></div>
        <div id="menu_footer"></div>
    </div>
    
    <div>
        <div class="box span12">
                <div class="box-header well" data-original-title>
                    <h2><i class="icon-user"></i> &nbsp;拓扑图</h2>
                    <div class="box-icon">
                            <a href="#" class="btn btn-setting btn-round"><i class="icon-cog"></i></a>
                            <a href="#" class="btn btn-minimize btn-round"><i class="icon-chevron-up"></i></a>
                    </div>
                </div>
                <div class="box-content">
                    <div class="row-fluid">
                        <div class="span12">
                            <div id="content">
                                <center>
                                        <canvas width="1024" height="500" id="canvas" style="background-color: rgb(238, 238, 238); border: 1px solid rgb(68, 68, 68); cursor: default;"></canvas>
                                </center>
                            </div>
                        </div>
                    </div>
                </div>
        </div>
    </div>
    
    <div>
        <div class="box span12">
                <div class="box-header well" data-original-title>
                    <h2><i class="icon-user"></i> &nbsp;资源使用率</h2>
                    <div class="box-icon">
                            <a href="#" class="btn btn-setting btn-round" id="manual_update_capacity"><i class="icon-refresh"></i></a>
                            <a href="#" class="btn btn-minimize btn-round"><i class="icon-chevron-up"></i></a>
                    </div>
                </div>
                <div class="box-content">
                    <div class="row-fluid">
                        <div class="span12">
                            <div id="capacity_guage">
                                <div id="g0" class="capacity_guage"></div>
                                <div id="g1" class="capacity_guage"></div>
                                <div id="g2" class="capacity_guage"></div>
                                <div id="g3" class="capacity_guage"></div>
                                <div id="g4" class="capacity_guage"></div>
                                <div id="g5" class="capacity_guage"></div>
                                <div id="g6" class="capacity_guage"></div>
                                <div id="g7" class="capacity_guage"></div>
                                <div id="g8" class="capacity_guage"></div>
                            </div>
                        </div>
                    </div>
                </div>
        </div>
    </div>
    
    <div>
        <div class="box span12">
                <div class="box-header well" data-original-title>
                    <h2><i class="icon-user"></i> &nbsp;虚拟机流量</h2>
                    <div class="box-icon">
                            <a href="#" class="btn btn-setting btn-round" id="manual_update_capacity"><i class="icon-refresh"></i></a>
                            <a href="#" class="btn btn-minimize btn-round"><i class="icon-chevron-up"></i></a>
                    </div>
                </div>
                <div class="box-content">
                    <div class="row-fluid">
                        <div class="span12">
                            <div class="well">
                                <label>排序：
                                    <a href="#" class="btn btn-primary" id="perfrank_cpu_usage">CPU使用率</a>&nbsp;
                                    <a href="#" class="btn btn-primary" id="perfrank_network_io">网络 I/0</a>&nbsp;
                                    <a href="#" class="btn btn-primary" id="perfrank_disk_io">磁盘 I/O</a>
                                </label>
                            </div>
                            
                            <div class="well" id="perfrank"></div>
                        </div>
                    </div>
                </div>
        </div>
    </div>
    
    <div>
        <div class="box span12">
                <div class="box-header well" data-original-title>
                    <h2><i class="icon-user"></i> &nbsp;最新警告</h2>
                    <div class="box-icon">
                            <a href="#" class="btn btn-setting btn-round" id="manual_update_capacity"><i class="icon-refresh"></i></a>
                            <a href="#" class="btn btn-minimize btn-round"><i class="icon-chevron-up"></i></a>
                    </div>
                </div>
                <div class="box-content">
                    <div class="row-fluid">
                        <div class="span12">
                            <div class="well">
                                <label>类型：
                                    <a href="#" class="btn btn-primary" id="alerter_physical">物理设备</a>&nbsp;
                                    <a href="#" class="btn btn-primary" id="alerter_virtual">虚拟机</a>&nbsp;
                                </label>
                            </div>
                            
                            <div class="well" id="alerter"></div>
                        </div>
                    </div>
                </div>
        </div>
    </div>
    
    <div class="modal hide fade" id="configModal">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal">×</button>
            <h4 id="config_modal_head"></h4>
        </div>
        <div class="modal-body">
            <div id="config_modal_body">
                <label>设备类型：
                    <select id="node_type" host_name="">
                        <option name="unselected">未选择</option>
                        <option name="server">服务器</option>
                        <option name="virtual_machine">虚拟机</option>
                        <option name="switch">交换机</option>
                        <option name="router">路由器</option>
                        <option name="storage">存储设备</option>
                        <option name="xenserver">XenServer</option>
                        <option name="linux_server">Linux服务器</option>
                        <option name="windows_server">Windows服务器</option>
                        <option name="freebsd_server">FreeBSD服务器</option>
                        <option name="openstack">OpenStack云平台</option>
                        <option name="cloudstack">CloudStack云平台</option>
                        <option name="network_printer">网络打印机</option>
                        <option name="laptop">笔记本电脑</option>
                        <option name="desktop_computer">台式电脑</option>
                    </select>
                </label>
            </div>
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-primary" id="submit_button">OK</button>
            <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
        </div>
    </div>
</div>
{% end %}
