<!DOCTYPE html>
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
	<title>{{ title }}</title>
	<meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no, minimum-scale=1.0, maximum-scale=1.0">
	<link href="/static/stylesheets/bootstrap.min.css" rel="stylesheet" type="text/css">
	<link href="/static/stylesheets/pixel-admin.min.css" rel="stylesheet" type="text/css">
	<link href="/static/stylesheets/widgets.min.css" rel="stylesheet" type="text/css">
	<link href="/static/stylesheets/rtl.min.css" rel="stylesheet" type="text/css">
	<link href="/static/stylesheets/themes.min.css" rel="stylesheet" type="text/css">

    <link rel="shortcut icon" href="/static/favicon.ico"/>
	<!--[if lt IE 9]>
		<script src="/static/javascripts/ie.min.js"></script>
	<![endif]-->
    <style>
        #content-wrapper{
            padding-top: 0px;
            padding-left: 70px;
        }
        .chart0{
            height: 350px;
            width: 100%;
            float: left;
        }
        .chart{
            margin-top: 10px;
            height: 350px;
            width: 50%;
            float: left;
        }
        .row{
            margin-left: 0px;
            margin-right: 0px;
        }
        .output{
            float: left;
            height: 350px;
            font-family: monospace;
            background: #fef8ef;
            color: rgb(51, 51, 51);
            border:1px solid #555;
            overflow-y: scroll;
        }
	</style>
</head>
<body class="theme-asphalt main-menu-animated main-navbar-fixed main-menu-fixed mmc">

<script>var init = [];</script>
{#<!-- Demo script --> <script src="/static/demo/demo.js"></script> <!-- / Demo script -->#}

<div id="main-wrapper">
<!-- 2. $MAIN_NAVIGATION ===========================================================================

	Main navigation
-->
	<div id="main-navbar" class="" role="navigation">
		<!-- Main menu toggle -->
		<button type="button" id="main-menu-toggle"><i class="navbar-icon fa fa-bars icon"></i><span class="hide-menu-text">HIDE MENU</span></button>
		
		<div class="navbar-inner">

			<div id="main-navbar-collapse" class="collapse navbar-collapse main-navbar-collapse">
				</div>
			</div> <!-- / #main-navbar-collapse -->
		</div> <!-- / .navbar-inner -->
	</div> <!-- / #main-navbar -->
<!-- /2. $END_MAIN_NAVIGATION -->
	<div id="main-menu" role="navigation">
		<div id="main-menu-inner">
			<ul class="navigation">
				<li>
					<a href="index.html"><i class="menu-icon fa fa-dashboard"></i><span class="mm-text">Dashboard</span></a>
				</li>
				<li class="mm-dropdown">
					<a href="#"><i class="menu-icon fa fa-th"></i><span class="mm-text">攻击者视角</span></a>
					<ul>
						<li>
							<a tabindex="-1" href="/attack/attacking_hosts"><i class="menu-icon fa fa-th-list"></i><span class="mm-text">攻击者发起请求数</span></a>
						</li>
					</ul>
				</li>
                <li class="mm-dropdown">
					<a href="#"><i class="menu-icon fa fa-tasks"></i><span class="mm-text">被攻击者视角</span></a>
					<ul>
						<li>
							<a tabindex="-1" href="/attack/under_attack"><i class="menu-icon fa fa-bar-chart-o"></i><span class="mm-text">被攻击nginx服务器收到请求数</span></a>
						</li>
					</ul>
				</li>
				<li class="mm-dropdown">
					<a href="#"><i class="menu-icon fa fa-flask"></i><span class="mm-text">服务器性能</span></a>
					<ul>
						<li>
							<a tabindex="-1" href="/attack/server_performance/1"><i class="menu-icon fa fa-sitemap"></i><span class="mm-text">网关服务器性能</span></a>
						</li>
					</ul>
                    <ul>
						<li>
							<a tabindex="-1" href="/attack/server_performance/2"><i class="menu-icon fa fa-tint"></i><span class="mm-text">被攻击服务器性能</span></a>
						</li>
					</ul>
				</li>
				<li class="mm-dropdown">
					<a href="#"><i class="menu-icon fa fa-desktop"></i><span class="mm-text">UI elements</span></a>
					<ul>
						<li>
							<a tabindex="-1" href="ui-buttons.html"><span class="mm-text">Buttons</span></a>
						</li>
						<li>
							<a tabindex="-1" href="ui-typography.html"><span class="mm-text">Typography</span></a>
						</li>
						<li>
							<a tabindex="-1" href="ui-tabs.html"><span class="mm-text">Tabs &amp; Accordions</span></a>
						</li>
						<li>
							<a tabindex="-1" href="ui-modals.html"><span class="mm-text">Modals</span></a>
						</li>
						<li>
							<a tabindex="-1" href="ui-alerts.html"><span class="mm-text">Alerts &amp; Tooltips</span></a>
						</li>
						<li>
							<a tabindex="-1" href="ui-components.html"><span class="mm-text">Components</span></a>
						</li>
						<li>
							<a tabindex="-1" href="ui-panels.html"><span class="mm-text">Panels</span></a>
						</li>
						<li>
							<a tabindex="-1" href="ui-jqueryui.html"><span class="mm-text">jQuery UI</span></a>
						</li>
						<li>
							<a tabindex="-1" href="ui-icons.html"><span class="mm-text">Icons</span></a>
						</li>
						<li>
							<a tabindex="-1" href="ui-utility-classes.html"><span class="mm-text">Utility classes</span></a>
						</li>
					</ul>
				</li>
				<li class="mm-dropdown">
					<a href="#"><i class="menu-icon fa fa-check-square"></i><span class="mm-text">Form components</span></a>
					<ul>
						<li>
							<a tabindex="-1" href="forms-layouts.html"><span class="mm-text">Layouts</span></a>
						</li>
						<li>
							<a tabindex="-1" href="forms-general.html"><span class="mm-text">General</span></a>
						</li>
						<li>
							<a tabindex="-1" href="forms-advanced.html"><span class="mm-text">Advanced</span></a>
						</li>
						<li>
							<a tabindex="-1" href="forms-pickers.html"><span class="mm-text">Pickers</span></a>
						</li>
						<li>
							<a tabindex="-1" href="forms-validation.html"><span class="mm-text">Validation</span></a>
						</li>
						<li>
							<a tabindex="-1" href="forms-editors.html"><span class="mm-text">Editors</span></a>
						</li>
					</ul>
				</li>
				<li>
					<a href="tables.html"><i class="menu-icon fa fa-table"></i><span class="mm-text">Tables</span></a>
				</li>
				<li>
					<a href="charts.html"><i class="menu-icon fa fa-bar-chart-o"></i><span class="mm-text">Charts</span></a>
				</li>
				<li class="mm-dropdown">
					<a href="#"><i class="menu-icon fa fa-files-o"></i><span class="mm-text">Pages</span><span class="label label-success">16</span></a>
					<ul>
						<li>
							<a tabindex="-1" href="pages-search.html"><span class="mm-text">Search results</span></a>
						</li>
						<li>
							<a tabindex="-1" href="pages-pricing.html"><span class="mm-text">Plans &amp; pricing</span></a>
						</li>
						<li>
							<a tabindex="-1" href="pages-faq.html"><span class="mm-text">FAQ</span></a>
						</li>
						<li>
							<a tabindex="-1" href="pages-profile.html"><span class="mm-text">Profile</span></a>
						</li>
						<li>
							<a tabindex="-1" href="pages-timeline.html"><span class="mm-text">Timeline</span></a>
						</li>
						<li>
							<a tabindex="-1" href="pages-signin.html"><span class="mm-text">Sign In</span></a>
						</li>
						<li>
							<a tabindex="-1" href="pages-signup.html"><span class="mm-text">Sign Up</span></a>
						</li>
						<li>
							<a tabindex="-1" href="pages-signin-alt.html"><span class="mm-text">Sign In Alt</span></a>
						</li>
						<li>
							<a tabindex="-1" href="pages-signup-alt.html"><span class="mm-text">Sign Up Alt</span></a>
						</li>
						<li>
							<a tabindex="-1" href="pages-invoice.html"><span class="mm-text">Invoice</span></a>
						</li>
						<li>
							<a tabindex="-1" href="pages-404.html"><span class="mm-text">Error 404</span></a>
						</li>
						<li>
							<a tabindex="-1" href="pages-500.html"><span class="mm-text">Error 500</span></a>
						</li>
						<li class="mm-dropdown">
							<a href="#"><i class="menu-icon fa fa-envelope"></i><span class="mm-text">Messages</span></a>
							<ul>
								<li>
									<a tabindex="-1" href="pages-inbox.html"><span class="mm-text">Inbox</span></a>
								</li>
								<li>
									<a tabindex="-1" href="pages-show-email.html"><span class="mm-text">Show message</span></a>
								</li>
								<li>
									<a tabindex="-1" href="pages-new-email.html"><span class="mm-text">New message</span></a>
								</li>
							</ul>
						</li>
						<li>
							<a tabindex="-1" href="pages-blank.html"><span class="mm-text">Blank page</span></a>
						</li>
					</ul>
				</li>
				<li>
					<a href="complete-ui.html"><i class="menu-icon fa fa-briefcase"></i><span class="mm-text">Complete UI</span></a>
				</li>
				<li>
					<a href="color-builder.html"><i class="menu-icon fa fa-tint"></i><span class="mm-text">Color Builder</span></a>
				</li>
				<li class="mm-dropdown">
					<a href="#"><i class="menu-icon fa fa-sitemap"></i><span class="mm-text">Menu levels</span><span class="badge badge-primary">6</span></a>
					<ul>
						<li>
							<a tabindex="-1" href="#"><span class="mm-text">Menu level 1.1</span><span class="badge badge-danger">12</span><span class="label label-info">21</span></a>
						</li>
						<li>
							<a tabindex="-1" href="#"><span class="mm-text">Menu level 1.2</span></a>
						</li>
						<li class="mm-dropdown">
							<a tabindex="-1" href="#"><span class="mm-text">Menu level 1.3</span><span class="label label-warning">5</span></a>
							<ul>
								<li>
									<a tabindex="-1" href="#"><span class="mm-text">Menu level 2.1</span></a>
								</li>
								<li class="mm-dropdown">
									<a tabindex="-1" href="#"><span class="mm-text">Menu level 2.2</span></a>
									<ul>
										<li class="mm-dropdown">
											<a tabindex="-1" href="#"><span class="mm-text">Menu level 3.1</span></a>
											<ul>
												<li>
													<a tabindex="-1" href="#"><span class="mm-text">Menu level 4.1</span></a>
												</li>
											</ul>
										</li>
										<li>
											<a tabindex="-1" href="#"><span class="mm-text">Menu level 3.2</span></a>
										</li>
									</ul>
								</li>
								<li>
									<a tabindex="-1" href="#"><span class="mm-text">Menu level 2.2</span></a>
								</li>
							</ul>
						</li>
					</ul>
				</li>
			</ul> <!-- / .navigation -->
{#			<div class="menu-content">#}
{#				<a href="pages-invoice.html" class="btn btn-primary btn-block btn-outline dark">Create Invoice</a>#}
{#			</div>#}
		</div> <!-- / #main-menu-inner -->
	</div> <!-- / #main-menu -->
<!-- /4. $MAIN_MENU -->


	<div id="content-wrapper">
        <!-- Javascript -->
        <script>

            init.push(function () {
                var api_url = "/attack/server_performance_data/{{ num }}";

                var chart0 = echarts.init(document.getElementById('echart0'), 'dark');
                var chart1 = echarts.init(document.getElementById('echart1'), 'vintage');
                var chart2 = echarts.init(document.getElementById('echart2'), 'vintage');

                var chart0_data = {'net_rx':[], 'net_tx':[]};
                var chart1_data = {'io_read':[], 'io_write':[]};
                var chart2_data = {'cpu':[]};

                var option = {
                    title: {
                        padding: 10,
                        textStyle: {
                            fontSize: 12,
                        }
                    },
                    tooltip: {
                        trigger: 'axis',
                        formatter: function (params) {
                            params = params[0];
                            var date = new Date(params.name);
                            return params.value[0] + ' : ' + params.value[1];
                        },
                        axisPointer: {
                            type: 'shadow',
                            animation: false
                        }
                    },
                    grid: {
                        left: '3%',
                        right: '4%',
                        bottom: '3%',
                        containLabel: true
                    },
                    xAxis: {
                        type: 'time',
                        axisLine: {
                            lineStyle: {
                                color: '#ccc'
                            }
                        },
                        splitLine: {
                            show: false
                        }
                    },
                    yAxis: {
                        type: 'value',
                        axisLine: {
                            lineStyle: {
                                color: '#ccc'
                            }
                        },
                        boundaryGap: [0, '100%'],
                        splitLine: {
                            show: true
                        }
                    },
                    series: [{
                        name: 'line',
                        type: 'line',
                        smooth: true,
                        showAllSymbol: true,
                        symbol: 'emptyCircle',
                        symbolSize: 1,
                        hoverAnimation: true
                    }]
                };
                chart0.setOption(option);
                chart1.setOption(option);
                chart2.setOption(option);
                chart0.setOption({
                    title: {
                        text: '网络入流量: 0 Mb/s 网络出流量: 0 Mb/s'
                    }
                });
                chart1.setOption({
                    title: {
                        text: '磁盘读流量: 0 Mb/s 磁盘写流量: 0 Mb/s'
                    }
                });
                chart2.setOption({
                    title: {
                        text: 'CPU占用率: 0%'
                    }
                });
                var sync_chart = function() {
                    $.ajax({
                        type: "GET",
                        url: api_url,
                        dataType: "json",
                        success: function (data) {
                            var series = [];
                            var legend_data = [];
                            var line_name;
                            // chart0
                            for(var type in chart0_data){
                                var point = [
                                    data['time'],
                                    data[type]
                                ]
                                if(chart0_data[type].length >= 100) {
                                    chart0_data[type].shift();
                                }
                                chart0_data[type].push(point);
                                if(type == 'net_rx')
                                    line_name = '网络入流量'
                                else
                                    line_name = '网络出流量'
                                legend_data.push(line_name)
                                series.push({
                                    name: line_name,
                                    type: 'line',
                                    smooth: true,
                                    showAllSymbol: true,
                                    symbol: 'emptyCircle',
                                    symbolSize: 1,
                                    hoverAnimation: true,
                                    data: chart0_data[type]
                                });
                            }
                            chart0.setOption({
                                title: {
                                    text: '网络入流量: '+data['net_rx']+' Mb/s 网络出流量: '+data['net_tx']+' Mb/s'
                                },
                                legend: {
                                    data:legend_data
                                },
                                series: series
                            });

                            series = [];
                            legend_data = [];
                            // chart1
                            for(var type in chart1_data){
                                var point = [
                                    data['time'],
                                    data[type]
                                ]
                                if(chart1_data[type].length >= 100) {
                                    chart1_data[type].shift();
                                }
                                chart1_data[type].push(point);
                                if(type == 'io_read')
                                    line_name = '磁盘读流量'
                                else
                                    line_name = '磁盘写流量'
                                legend_data.push(line_name)
                                series.push({
                                    name: line_name,
                                    type: 'line',
                                    smooth: true,
                                    showAllSymbol: true,
                                    symbol: 'emptyCircle',
                                    symbolSize: 1,
                                    hoverAnimation: true,
                                    data: chart1_data[type]
                                });
                            }
                            chart1.setOption({
                                title: {
                                    text: '磁盘读流量: '+data['io_read']+' Mb/s 磁盘写流量: '+data['io_write']+' Mb/s'
                                },
                                legend: {
                                    data:legend_data
                                },
                                series: series
                            });

                            // chart2
                            point = [
                                data.time,
                                data['cpu']
                            ]
                            if(chart2_data['cpu'].length >= 100) {
                                chart2_data['cpu'].shift();
                            }
                            chart2_data['cpu'].push(point);
                            chart2.setOption({
                                title: {
                                    text: 'CPU占用率: '+data['cpu']+'%'
                                },
                                legend: {
                                    data:['CPU占用率']
                                },
                                series: [{
                                    data: chart2_data['cpu']
                                }]
                            });
                            setTimeout(sync_chart, 2000);
                        }
                    });
                }

                sync_chart();
            });
        </script>
        <!-- / Javascript -->
        <div class="row">
           <h4>{{ title }}</h4>
        </div>
        <div class="row">
            <div id="echart0" class="chart0"></div>
            <div id="echart1" class="chart"></div>
            <div id="echart2" class="chart"></div>
        </div>
	</div> <!-- / #content-wrapper -->
	<div id="main-menu-bg"></div>
</div> <!-- / #main-wrapper -->

<!-- Get jQuery from Google CDN -->
<!--[if !IE]> -->
	<script type="text/javascript"> window.jQuery || document.write('<script src="/static/javascripts/jquery-1.8.3.min.js">'+"<"+"/script>"); </script>
<!-- <![endif]-->
<!--[if lte IE 9]>
	<script type="text/javascript"> window.jQuery || document.write('<script src="/static/javascripts/jquery-1.8.3.min.js">'+"<"+"/script>"); </script>
<![endif]-->


<!-- Pixel Admin's javascripts -->
<script src="/static/javascripts/bootstrap.min.js"></script>
<script src="/static/javascripts/pixel-admin.min.js"></script>

<script src="/static/javascripts/echarts.min.js"></script>
<script src="/static/javascripts/theme/dark.js"></script>
<script src="/static/javascripts/theme/vintage.js"></script>

<script type="text/javascript">
	init.push(function () {
		// Javascript code here
	})
	window.PixelAdmin.start(init);
</script>

</body>
</html>
